coordinate_navigation/.vscode/c_cpp_properties.json
coordinate_navigation/.vscode/settings.json
coordinate_navigation/scripts/state/__init__.pyc
coordinate_navigation/scripts/state/waypoints.pyc
coordinate_navigation/scripts/state/world_state.pyc
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
coordinate_navigation/config/.vscode/settings.json
coordinate_navigation/launch/.vscode/settings.json
coordinate_navigation/launch/.vscode/c_cpp_properties.json
coordinate_navigation/output.avi
coordinate_navigation/plan_1_pre.avi
coordinate_navigation/plan_2_pre.avi
