<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <remap from="/camera/rgb/image_rect_color" to="/camera/image_rect"/>
    <remap from="/camera/rgb/camera_info" to="camera/camera_info"/>
    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch" />
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />
    <!--<node pkg="tf2_ros" type="static_transform_publisher" name="at0_broadcaster" args="23.2069091797 18.1104278564 0 0 0.1246747 0.9921977 map at0" /> -->
</launch>
