<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" > 
	    <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/>
        <arg name="initial_pose_x" value="16.0213336815" />
        <arg name="initial_pose_y" value="20.7888399585" />
        <arg name="initial_pose_a" value="1.3877" />
    </include> 
    <include file="$(find apriltag_ros/launch/continuous_detection.launch" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="at0_broadcaster" args="23.2069091797 18.1104278564 0 0 0.1246747 0.9921977 map at0" />
</launch>
