<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" > 
	    <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/>
    </include> 
    <include file="$(find kobuki_auto_docking)/launch/minimal.launch" />
    
    <node name="auto_dock" pkg="coordinate_navigation" type="auto_dock.py"/>
    <node name="move_to_start" pkg="coordinate_navigation" type="move_to_start.py" />
    <node name="plan_executor" pkg="coordinate_navigation" type="plan_executor.py" />
</launch>
