<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" > 
	    <arg name="map_file" value="/home/mulip-zeus/catkin_ws/src/coffee_bot/maps/cummings_floor4.yaml"/>
    </include> 
    <include file="$(find kobuki_auto_docking)/launch/minimal.launch" />
</launch>
